body {
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    display: flex;
} 
.form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: #39d9d1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #39d9d133;
}
.border-design{
    border-top: inset #ffff 1px;
    border-bottom:inset #ffff 1px ;
    
}
h1{
    margin: 20px;
    font-family: Dancing Script;
    font-weight: 800;
    font-size: 60px;
}
h2{
    background: linear-gradient(90deg, #ff5f74, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 20px;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
}
.before-icon{
    color:#ff5f74 ;
    font-size: 3.5rem;
    
}
.after-icon{
    color: #feb47b;
    font-size: 3.5rem;
    
}

@keyframes lights {
    0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
        color: hsl(230, 80%, 90%);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
        color: hsl(230, 100%, 95%);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}


.layer{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer-body{
    background-color: #fff;
    height: 250px;
    width: 500px;
    padding: 30px;
    border-radius: 5px;
    justify-content:space-evenly;
}
.x-icon{
position: absolute;
top: 0;
right: 0;
}
